@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
    --color-nice-bg: #191919;
    --color-nice-footer: #121212;
    --color-nice-red: #E40459;
    --color-nice-green: #92D922;
    --color-nice-purple: #9C64FE;
    --color-nice-blue: #52C4DB
}
table, td {
    border: 1px solid white;
    border-collapse: collapse;
    table-layout: fixed;
}
/*td {*/
/*    padding: 5px 15px;*/
/*}*/
/*th {*/
/*    padding: 3px 15px;*/
/*    position: sticky;*/
/*}*/
