<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/output.css') }}" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', filename='logo.ico') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>PiStation | Homepage</title>
</head>
<body class="bg-nice-bg min-h-screen min-w-screen flex flex-col justify-center content-center items-center overflow-x-hidden">
<main class="flex-1 flex flex-col sm:flex-col justify-center items-center min-w-full">




    <div class="flex-1 p-8 sm:p-8 flex flex-col sm:flex-row justify-center items-center gap-8">
        <div class="p-3 sm:p-4 bg-nice-footer border-2 border-white w-full min-w-85 max-w-85 sm:min-w-120 sm:max-w-120 min-h-fit max-h-fit h-full flex flex-col justify-start items-center rounded-2xl gap-2">
            <div>
                <h1 class="text-4xl font-bold tracking-tight text-nice-red text-center relative top-0">
                    Current Weather
                </h1>
                <h1 class="text-lg font-bold tracking-tight text-white text-center relative top-0 opacity-80">
                    Last Update: <span class="text-nice-blue">{{ time }}</span>
                </h1>
            </div>
            <div class="gap-4">
                <h2 class="text-2xl font-bold tracking-tight text-white text-center">
                    Current Temp: <span class="text-nice-green">{{ temp }}</span>°
                </h2>
                <h2 class="text-white text-center text-2xl font-bold">
                    Current Humidity: <span class="text-nice-green">{{ humidity }}</span>%
                </h2>
                <h2 class="text-white text-center text-2xl font-bold">
                    Current Air Pressure: <span class="text-nice-green">{{ pressure }}</span><span class=" hidden sm:inline text-sm">hPa</span>
                </h2>
                <h2 class="text-white text-center text-2xl font-bold">
                    Current Rain: <span class="text-nice-green">{{ rain }}</span>
                </h2>
            </div>
            <div>
                <a href="{{ url_for('pastReadings') }}">
                <button class="text-nice-footer bg-white p-2 font-bold text-2xl rounded-md hover:opacity-80 hover:cursor-pointer">
                    Past Readings
                </button>
                </a>
            </div>

        </div>
    </div>
    <div class="flex-1 p-8 sm:p-8 flex flex-col sm:flex-row justify-center items-center">
        <div class="p-3 sm:p-4 bg-nice-footer border-2 border-white w-full min-w-85 max-w-85 sm:min-w-120 sm:max-w-120 min-h-fit max-h-fit h-full flex flex-col justify-start items-center rounded-2xl gap-2">
            <div>
                <h1 class="text-4xl font-bold tracking-tight text-nice-red text-center relative top-0">
                    Past Day Extremes
                </h1>
                <h1 class="text-lg font-bold tracking-tight text-white text-center relative top-0 opacity-80">
                    <span class="text-nice-blue">{{ dayDate }}</span>
                </h1>
            </div>
            <div class="gap-4">
                <h2 class="text-2xl font-bold tracking-tight text-white text-center">
                    Highest Temp: <span class="text-nice-green">{{ hourExtremeTemp }}</span>°
                </h2>
                <h2 class="text-white text-center text-2xl font-bold">
                    Highest Humidity: <span class="text-nice-green">{{ hourExtremeHumidity }}</span>%
                </h2>
                <h2 class="text-white text-center text-2xl font-bold">
                    Highest Air Pressure: <span class="text-nice-green">{{ hourExtremePressure }}</span><span class=" hidden sm:inline text-sm">hPa</span>
                </h2>
            </div>
        </div>
    </div>

    <!------------------
    PAST HOUR VALUES!!!!
    ------------------->

    <div class="flex-1 flex flex-col sm:flex-row justify-center items-center gap-8 pb-8">
        <h1 class="text-4xl sm:text-5xl text-center text-nice-blue font-bold tracking-tight">
                Past Hour Weather
        </h1>
    </div>
    <div class="flex-1 flex flex-col sm:flex-row justify-center items-center gap-8 pb-4">
        <div class="bg-nice-footer border-2 border-white p-3 rounded-2xl min-w-85 max-w-85 sm:min-w-120 sm:max-w-120">
            <h1 class="text-2xl text-center text-nice-red font-bold tracking-tight pb-2">
                Temperature (°C)
            </h1>
            <div class="bg-white w-full md:min-h-64 md:max-h-70 h-full flex flex-col justify-start items-center">
                <canvas id="pastHourTempChart" class="lg:w-full"></canvas>
            </div>
        </div>

        <div class="bg-nice-footer border-2 border-white p-3 rounded-2xl min-w-85 max-w-85 sm:min-w-120 sm:max-w-120">
            <h1 class="text-2xl text-center text-nice-red font-bold tracking-tight pb-2">
                Humidity
            </h1>
            <div class="bg-white w-full md:min-h-64 md:max-h-70 h-full flex flex-col justify-start items-center">
                <canvas id="pastHourHumidityChart" class="lg:w-full"></canvas>
            </div>
        </div>
    </div>

    <div class="flex-1 flex flex-col sm:flex-row justify-center items-center gap-8 pb-4">
        <div class="bg-nice-footer border-2 border-white p-3 rounded-2xl min-w-85 max-w-85 sm:min-w-120 sm:max-w-120">
            <h1 class="text-2xl text-center text-nice-red font-bold tracking-tight pb-2">
                Air Pressure (hPa)
            </h1>
            <div class="bg-white w-full md:min-h-64 md:max-h-70 h-full flex flex-col justify-start items-center">
                <canvas id="pastHourPressureChart" class="lg:w-full"></canvas>
            </div>
        </div>

        <div class="bg-nice-footer border-2 border-white p-3 rounded-2xl min-w-85 max-w-85 sm:min-w-120 sm:max-w-120">
            <h1 class="text-2xl text-center text-nice-red font-bold tracking-tight pb-2">
                Rain
            </h1>
            <div class="bg-white w-full md:min-h-64 md:max-h-70 h-full flex flex-col justify-start items-center">
                <canvas id="pastHourRainChart" class="lg:w-full"></canvas>
            </div>
        </div>
    </div>



</main>
</body>


<script>
    const Utils = {
        transparentize: (color, opacity) => {
            return color.replace('rgb', 'rgba').replace(')', `, ${opacity})`);
        },
        times: (config) => {
            const arr = {{ pastHourTimes | tojson }}
            return arr;
        },
    }
    const TempUtils = {
        temperatures:() => {
            let arr = {{ pastHourTemps | tojson }};
            return arr;
        },
    };
    const HumidUtils = {
        humidities:() => {
            const arr = {{ pastHourHumidity | tojson }};
            return arr
        },
    };
    const PressureUtils = {
        pressure:() => {
            const arr = {{ pastHourPressure | tojson }}
            return arr;
        }
    }
    const RainUtils = {
        rain:() => {
            const arr = {{ pastHourRain | tojson }}
            return arr;
        }
    }

    const DATA_COUNT = 6;
    const NUMBER_CFG = {count: DATA_COUNT, min: -100, max: 100};
    const labels = Utils.times({count: DATA_COUNT});

    const tempData = {
        labels: labels,
        datasets: [
            {
                label: "Temperature",
                pointRadius: 4,
                pointHoverRadius: 6,
                data: TempUtils.temperatures(NUMBER_CFG),
                borderColor: '#92D922',
                backgroundColor: Utils.transparentize('#191919'),
            },
        ]
    };
    const humidityData = {
        labels: labels,
        datasets: [
            {
                label: 'Humidity',
                pointRadius: 4,
                pointHoverRadius: 6,
                data: HumidUtils.humidities(NUMBER_CFG),
                borderColor: '#92D922',
                backgroundColor: Utils.transparentize('#191919'),
            },
        ]
    };
    const pressureData = {
        labels: labels,
        datasets: [
            {
            label: "Pressure",
            pointRadius: 4,
            pointHoverRadius: 6,
            data: PressureUtils.pressure(NUMBER_CFG),
            borderColor: '#92D922',
            backgroundColor: Utils.transparentize('#191919')
            }
        ]
    }
    const rainData = {
        labels: labels,
        datasets: [
            {
                label: "Rain",
                data: RainUtils.rain(NUMBER_CFG),
                backgroundColor: '#92D922',
                borderColor: '#191919',
                borderWidth: 1,
                fill: false,
                stepped: true,
            }
        ]
    }



    const tempConfig = {
        type: 'line',
        data: tempData,
        options: {
            responsive: true,
            plugins: {
                legend: {
                    display: false,
                }
            },
            scales: {
                x: {
                    grid: {
                        color: '#E5E5E5',
                        borderColor: 'green'
                    },
                    ticks: {
                    color: "#000000",
                        font: {
                            size:12,
                            weight: "bold"
                        },
                    size: 11
                },
                },
                y: {
                    grid: {
                        color: '#E5E5E5',
                        borderColor: 'green'
                    },
                    ticks: {
                    color: "#000000",
                        font: {
                            size:12,
                            weight: "bold"
                        },
                    size: 11
                },
                }
            }
        },
    };

    const humidityConfig = {
        type: 'line',
        data: humidityData,
        options: {
            responsive: true,
            plugins: {
                legend: {
                    display: false,
                }
            },
            scales: {
                x: {
                    grid: {
                        color: '#E5E5E5',
                        borderColor: 'green'
                    },
                    ticks: {
                    color: "#000000",
                        font: {
                            size:12,
                            weight: "bold"
                        },
                    size: 11
                },
                },
                y: {
                    grid: {
                        color: '#E5E5E5',
                        borderColor: 'green'
                    },
                    ticks: {
                    color: "#000000",
                        font: {
                            size:12,
                            weight: "bold"
                        },
                    size: 11
                },
                }
            }
        },
    };

    const pressureConfig = {
        type: 'line',
        data: pressureData,
        options: {
            responsive: true,
            plugins: {
                legend: {
                    display: false,
                }
            },
            scales: {
                x: {
                    grid: {
                        color: '#E5E5E5',
                        borderColor: 'green'
                    },
                    ticks: {
                    color: "#000000",
                        font: {
                            size:12,
                            weight: "bold"
                        },
                    size: 11
                },
                },
                y: {
                    grid: {
                        color: '#E5E5E5',
                        borderColor: 'green'
                    },
                    ticks: {
                    color: "#000000",
                        font: {
                            size:12,
                            weight: "bold"
                        },
                    size: 11
                },
                }
            }
        },
    };

    const rainConfig = {
        type: 'bar',
        data: rainData,
        options: {
            responsive: true,
            plugins: {
                legend: {
                    display: false,
                }
            },
            scales: {
                y: {
                    beginAtZero: true,
                    max: 1,
                    ticks: {
                        stepSize: 1
                    }
                }
            }
        },
    };


    const tempChart = new Chart(
        document.getElementById('pastHourTempChart'),
        tempConfig
    );
    const humidityChart = new Chart(
        document.getElementById('pastHourHumidityChart'),
        humidityConfig
    );
    const pressureChart = new Chart(
        document.getElementById('pastHourPressureChart'),
        pressureConfig
    );
    const rainChart = new Chart(
    document.getElementById('pastHourRainChart'),
    rainConfig
    );
</script>
