<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/output.css') }}" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', filename='logo.ico') }}">
    <title>Homepage | PastWeather</title>
</head>
<body class="bg-nice-bg min-h-screen flex flex-col justify-center content-center items-center">

<main class="flex-1 flex flex-col sm:flex-col justify-center items-center">
<div class="p-4">
    <h1 class="text-nice-blue font-bold text-center text-7xl mb-3">
        Past Weather
    </h1>
</div>



<div class="gap-6 min-w-80 max-w-80 md:min-w-320 md:max-w-320 h-full bg-nice-footer p-4 rounded-2xl md:min-h-fit md:max-h-fit sm:flex flex-col hidden border-2 border-white">
    <div class="text-white flex-col text-center md:text-left md:flex-row flex sm:gap-6 items-center justify-center flex-shrink-0 pb-6 sm:pb-0">
        <div class="flex flex-col w-full md:w-1/4">
            <label for="inputTemperature" class="text-2xl m-2">Temperature: </label>
            <select id="inputTemperature" class="bg-white text-black border p-2 rounded-2xl hover:ring-2 hover:ring-blue-400 focus:ring-3 focus:ring-blue-600 focus:border-transparent transition-all" onchange="tableFilters()">
            <option value="" selected>
                Select a temperature
            </option>
            {% for temperature in filteredTemp %}
                <option value="{{ temperature }}" type="text">
                    {{ temperature }}
                </option>
            {% endfor %}
            </select>
        </div>

        <div class="flex flex-col w-full md:w-1/4">
            <label for="inputHumidity" class="text-2xl m-2">Humidity: </label>
            <select id="inputHumidity"  class="bg-white text-black border p-2 rounded-2xl hover:ring-2 hover:ring-blue-400 focus:ring-3 focus:ring-blue-600 focus:border-transparent transition-all" onchange="tableFilters()">
                <option value="" selected>
                    Select a humidity
                </option>
            {% for humidity in filteredHumidity %}
                <option value="{{ humidity }}" type="text">
                    {{ humidity }}
                </option>
            {% endfor %}
            </select>
        </div>

        <div class="flex flex-col w-full md:w-1/4">
            <label for="inputPressure" class="text-2xl m-2">Air Pressure: </label>
            <select id="inputPressure" class="bg-white text-black border p-2 rounded-2xl hover:ring-2 hover:ring-blue-400 focus:ring-3 focus:ring-blue-600 focus:border-transparent transition-all" onchange="tableFilters()">
                <option value="" selected>
                    Select an air pressure
                </option>
            {% for pressure in filteredPressure %}
                <option value="{{ pressure }}" type="text">
                    {{ pressure }}
                </option>
            {% endfor %}
            </select>
        </div>

        <div class="flex flex-col w-full md:w-1/4">
            <label for="inputRain" class="text-2xl m-2">Rain: </label>
            <select id="inputRain" class="bg-white text-black border p-2 rounded-2xl hover:ring-2 hover:ring-blue-400 focus:ring-3 focus:ring-blue-600 focus:border-transparent transition-all" onchange="tableFilters()">
                <option value="" selected>
                    Select rain
                </option>
                <option value="Not raining" type="text">
                    Not raining
                </option>
                <option value="It's raining" type="text">
                    It's raining
                </option>
            </select>
        </div>

        <div class="flex flex-col w-full md:w-1/4">
            <label for="inputTime" class="text-2xl m-2">Time: </label>
            <select id="inputTime" class="bg-white text-black border p-2 rounded-2xl hover:ring-2 hover:ring-blue-400 focus:ring-3 focus:ring-blue-600 focus:border-transparent transition-all" onchange="tableFilters()">
            <option value="" selected>
                Select a time
            </option>
            {% for time in filteredTimes %}
                <option value="{{ time }}" type="text">
                    {{ time }}
                </option>
            {% endfor %}
            </select>
        </div>
        <div class="flex flex-col w-full md:w-1/4">
            <label for="inputDate" class="text-2xl m-2">Date: </label>
            <select id="inputDate" class="bg-white text-black border p-2 rounded-2xl hover:ring-2 hover:ring-blue-400 focus:ring-3 focus:ring-blue-600 focus:border-transparent transition-all" onchange="tableFilters()">
            <option value="" selected>
                Select a date
            </option>
            {% for date in filteredDates %}
                <option value="{{ date }}" type="text">
                    {{ date }}
                </option>
            {% endfor %}
            </select>
        </div>
    </div>
    <div class="gap-4 flex">
        <a href="{{ url_for('homepage') }}">
            <button class="text-nice-footer bg-white p-1 font-bold text-lg rounded-md hover:opacity-80 hover:cursor-pointer transition-all">
                Back to home
            </button>
        </a>
        <a onclick="resetTableFilter()">
            <button class="text-nice-footer bg-white p-1 font-bold text-lg rounded-md hover:opacity-80 hover:cursor-pointer transition-all">
                Reset filters
            </button>
        </a>
        <a onclick="createTableCSV()">
            <button class="text-nice-footer bg-white p-1 font-bold text-lg rounded-md hover:opacity-80 hover:cursor-pointer transition-all">
                Download as CSV
            </button>
        </a>
    </div>
</div>
    <div class="sm:p-2 hidden sm:flex sm:flex-col items-center justify-center w-full flex-grow min-h-0 invisible sm:visible ">
    {% if pastReadings != None %}
                <div class="overflow-x-auto p-4 overflow-y-auto w-full h-full">
                    <table id="readingTable" class="text-white border-collapse text-sm w-full transition-all bg-stone-950">
                    <thead class="sticky top-0 bg-white pb-2  md:text-2xl">
                            <tr class="text-nice-bg p-2 text-center">
                                <th>Temperature</th>
                                <th>Humidity</th>
                                <th>Air Pressure</th>
                                <th>Rain</th>
                                <th>Time</th>
                                <th>Date</th>
                            </tr>
                    </thead>
                    <tbody id="table">
                            {% for reading in pastReadings %}
                                <tr class="text-white text-center">
                                    <td class="p-2 border border-gray-600 font-bold">
                                        {{ reading.temperature }}
                                    </td>
                                    <td class="p-2 border border-gray-600 font-bold">
                                        {{ reading.humidity }}
                                    </td>
                                    <td class="p-2 border border-gray-600 font-bold">
                                        {{ reading.pressure }}
                                    </td>
                                    <td class="p-2 border border-gray-600 font-bold">
                                        {{ reading.rain }}
                                    </td>
                                    <td class="p-2 border border-gray-600 font-bold">
                                        {{ reading.time }}
                                    </td>
                                    <td class="p-2 border border-gray-600 font-bold">
                                        {{ reading.date }}
                                    </td>
                                </tr>
                            {% endfor %}
                    </tbody>
                    </table>
                </div>
    {% elif pastReadings == None %}
    <h2 class="text-3xl text-white text-center font-bold">
        No Data Found
    </h2>
    {% endif %}
</div>

<div class="p-2 flex sm:hidden flex-col items-center justify-center w-full flex-grow min-h-0 gap-8">
    <div class="text-white flex-col text-center flex gap-6 items-center justify-center flex-shrink-0 pb-6 bg-nice-footer p-4 rounded-2xl border-2 border-white">
        <div class="flex flex-col w-full md:w-1/4">
            <label for="cardInputTemperature" class="text-2xl m-2">Temperature: </label>
            <select id="cardInputTemperature" class="bg-white text-black border p-2 rounded-2xl hover:ring-2 hover:ring-blue-400 focus:ring-3 focus:ring-blue-600 focus:border-transparent transition-all" onchange="cardFilters()">
            <option value="" selected>
                Select a temperature
            </option>
            {% for temperature in filteredTemp %}
                <option value="{{ temperature }}" type="text">
                    {{ temperature }}
                </option>
            {% endfor %}
            </select>
        </div>
        <div class="flex flex-col w-full md:w-1/4">
            <label for="cardInputHumidity" class="text-2xl m-2">Humidity: </label>
            <select id="cardInputHumidity" class="bg-white text-black border p-2 rounded-2xl hover:ring-2 hover:ring-blue-400 focus:ring-3 focus:ring-blue-600 focus:border-transparent transition-all" onchange="cardFilters()">
                <option value="" selected>
                    Select a humidity
                </option>
            {% for humidity in filteredHumidity %}
                <option value="{{ humidity }}" type="text">
                    {{ humidity }}
                </option>
            {% endfor %}
            </select>
        </div>

        <div class="flex flex-col w-full md:w-1/4">
            <label for="cardInputPressure" class="text-2xl m-2">Air Pressure: </label>
            <select id="cardInputPressure" class="bg-white text-black border p-2 rounded-2xl hover:ring-2 hover:ring-blue-400 focus:ring-3 focus:ring-blue-600 focus:border-transparent transition-all" onchange="cardFilters()">
                <option value="" selected>
                    Select an air pressure
                </option>
            {% for pressure in filteredPressure %}
                <option value="{{ pressure }}" type="text">
                    {{ pressure }}
                </option>
            {% endfor %}
            </select>
        </div>

        <div class="flex flex-col w-full md:w-1/4">
            <label for="cardInputRain" class="text-2xl m-2">Rain: </label>
            <select id="cardInputRain" class="bg-white text-black border p-2 rounded-2xl hover:ring-2 hover:ring-blue-400 focus:ring-3 focus:ring-blue-600 focus:border-transparent transition-all" onchange="cardFilters()">
                <option value="" selected>
                    Select rain
                </option>
                <option value="Not raining" type="text">
                    Not raining
                </option>
                <option value="It's raining" type="text">
                    It's raining
                </option>
            </select>
        </div>

        <div class="flex flex-col w-full md:w-1/4">
            <label for="cardInputTime" class="text-2xl m-2">Time: </label>
            <select id="cardInputTime" class="bg-white text-black border p-2 rounded-2xl hover:ring-2 hover:ring-blue-400 focus:ring-3 focus:ring-blue-600 focus:border-transparent transition-all" onchange="cardFilters()">
            <option value="" selected>
                Select a time
            </option>
            {% for time in filteredTimes %}
                <option value="{{ time }}" type="text">
                    {{ time }}
                </option>
            {% endfor %}
            </select>
        </div>
        <div class="flex flex-col w-full md:w-1/4">
            <label for="cardInputDate" class="text-2xl m-2">Date: </label>
            <select id="cardInputDate" class="bg-white text-black border p-2 rounded-2xl hover:ring-2 hover:ring-blue-400 focus:ring-3 focus:ring-blue-600 focus:border-transparent transition-all" onchange="cardFilters()">
            <option value="" selected>
                Select a date
            </option>
            {% for date in filteredDates %}
                <option value="{{ date }}" type="text">
                    {{ date }}
                </option>
            {% endfor %}
            </select>
        </div>
        <div class="gap-4 flex">
            <a href="{{ url_for('homepage') }}">
                <button class="text-nice-footer bg-white p-1 font-bold text-lg rounded-md hover:opacity-80 hover:cursor-pointer transition-all">
                    Back to home
                </button>
            </a>
            <a onclick="resetCardFilter()">
                <button class="text-nice-footer bg-white p-1 font-bold text-lg rounded-md hover:opacity-80 hover:cursor-pointer transition-all">
                    Reset filters
                </button>
            </a>

            <a onclick="createCardCSV()">
                <button class="text-nice-footer bg-white p-1 font-bold text-lg rounded-md hover:opacity-80 hover:cursor-pointer transition-all">
                    Download as CSV
                </button>
            </a>
        </div>
    </div>

    <div>
    <ul id="cardUL" class="flex flex-col gap-6">
    {% for reading in pastReadings %}
        <li>
            <div class="min-w-80 max-w-80 md:min-w-320 md:max-w-320 h-full bg-nice-footer p-3 rounded-2xl md:min-h-120 md:max-h-120 flex flex-col border-2 border-white">
                <div class="border-b-2 border-white text-white flex flex-row">
                    <h1 class="text-2xl font-extrabold w-1/2 text-left tracking-tighter cardTime">
                      {{ reading.time }}
                    </h1>
                    <h1 class="text-2xl font-extrabold w-1/2 text-right tracking-tighter cardDate">
                        {{ reading.date }}
                    </h1>
                </div>

                <div>
                    <h1 class="text-white font-bold">Temperature: <span class="text-nice-green cardTemp">{{ reading.temperature }}</span> </h1>
                    <h1 class="text-white font-bold">Humidity: <span class="text-nice-green cardHumidity">{{ reading.humidity }}</span></h1>
                    <h1 class="text-white font-bold">Pressure: <span class="text-nice-green cardPressure">{{ reading.pressure }}</span></h1>
                    <div class="flex flex-row gap-2">
                        <h1 class="text-white font-bold"><span class="text-nice-blue cardRain">{{ reading.rain }}</span></h1>
                        {% if reading.rain == "Not raining" %}
                            <img alt="Not raining svg" src="/static/svg/clearCloud.svg">
                        {% else %}
                            <img alt="Raining svg" src="/static/svg/rainCloud.svg">
                        {% endif %}
                    </div>
            </div>
            </li>

    {% endfor %}
    </ul>
    </div>
</div>




</main>
<footer class="bg-nice-footer text-white py-1 w-full flex flex-row items-center align-bottom">
    <div class="w-1/3 min-w-1/3 max-w-1/3 px-8">
        <a href="https://github.com/darrkenn/PiStation">
            <img src="/static/svg/github.svg" alt="Github" class="size-12 md:size-10">
        </a>
    </div>
    <div class="w-1/3 min-w-1/3 max-w-1/3">
        <p class="text-lg text-center font-bold">Made by darrkenn</p>
    </div>
</footer>
</body>
</html>

<script>
    function createTableCSV() {
        let table = document.getElementById("readingTable")
        let tr = table.getElementsByTagName("tr")
        let csvFinalData = []
        for (let i = 0; i < tr.length; i++) {

            //Checks if the tr has the style.display.none in order to respect the users filter.
            if (tr[i].style.display !== "none") {
                let col = tr[i].querySelectorAll("td,th")
                let csvRowData = []
                for (let j = 0; j < col.length; j++) {
                csvRowData.push(col[j].innerText)

                }
                csvFinalData.push(csvRowData.join(","));

            }
        }
        csvFinalData = csvFinalData.join("\n");
        downloadCSV(csvFinalData)
    }

    function createCardCSV() {
        let ul = document.getElementById("cardUL");
        let li = ul.getElementsByTagName("li");
        let csvFinalData = []
        let csvHeaderData = ["Temperature", "Humidity", "Air Pressure", "Rain", "Time", "Date"]
        csvFinalData.push(csvHeaderData.join())

        for (let i = 0; i < li.length; i++) {
            if (li[i].style.display !== "none") {
                const currentCard = li[i]
                let csvRowData = []
                //This is cursed
                csvRowData.push(currentCard.querySelector(".cardTemp").textContent);
                csvRowData.push(currentCard.querySelector(".cardHumidity").textContent);
                csvRowData.push(currentCard.querySelector(".cardPressure").textContent);
                csvRowData.push(currentCard.querySelector(".cardRain").textContent.trim());
                csvRowData.push(currentCard.querySelector(".cardTime").textContent.trim());
                csvRowData.push(currentCard.querySelector(".cardDate").textContent.trim());

                csvFinalData.push(csvRowData.join(","));
            }
        }
        csvFinalData = csvFinalData.join("\n");
        downloadCSV(csvFinalData)

    }

    function downloadCSV(csvFinalData) {

        let CSVFile = new Blob([csvFinalData], {type: "text/csv"});

        let link = document.createElement('a');

        link.download = "weather.csv";
        link.href = window.URL.createObjectURL(CSVFile)

        link.style.display = "none";
        document.body.appendChild(link);

        link.click();
        document.body.removeChild(link);
    }

    function tableFilters() {
        let tempInput, humidityInput,pressureInput,rainInput, timeInput, dateInput,
            tempTd, humidityTd,pressureTd,rainTd, timeTd, dateTd,
            tempValue, humidityValue,pressureValue,rainValue, timeValue, dateValue,
            doesTempMatch, doesHumidityMatch,doesPressureMatch,doesRainMatch, doesTimeMatch, doesDateMatch,
            table, tr, i;
        tempInput = document.getElementById("inputTemperature").value;
        humidityInput = document.getElementById("inputHumidity").value;
        pressureInput = document.getElementById("inputPressure").value;
        rainInput = document.getElementById("inputRain").value;
        timeInput = document.getElementById("inputTime").value;
        dateInput = document.getElementById("inputDate").value;
        table = document.getElementById("readingTable")
        tr = table.getElementsByTagName("tr")

        // I love javascript
        for (i = 1; i < tr.length; i++) {
            tempTd = tr[i].getElementsByTagName("td")[0]
            humidityTd = tr[i].getElementsByTagName("td")[1]
            pressureTd = tr[i].getElementsByTagName("td")[2]
            rainTd = tr[i].getElementsByTagName("td")[3]
            timeTd = tr[i].getElementsByTagName("td")[4]
            dateTd = tr[i].getElementsByTagName("td")[5]
        if (tempTd && humidityTd && pressureTd && rainTd && timeTd && dateTd) {
            tempValue = (tempTd.textContent || tempTd.innerText).toLowerCase();
            humidityValue = (humidityTd.textContent || humidityTd.innerText).toLowerCase();
            pressureValue = (pressureTd.textContent || pressureTd.innerText).toLowerCase();
            rainValue = (rainTd.textContent || rainTd.innerText).toLowerCase().trim();
            timeValue = (timeTd.textContent || timeTd.innerText).toLowerCase();
            dateValue = (dateTd.textContent || dateTd.innerText).toLowerCase();

            doesTempMatch = tempValue.indexOf(tempInput) > -1 || tempInput === "";
            doesHumidityMatch = humidityValue.indexOf(humidityInput) > -1 || humidityInput === "";
            doesPressureMatch = pressureValue.indexOf(pressureInput) > -1 || pressureInput === "";
            doesRainMatch = rainValue.indexOf(rainInput.toLowerCase().trim()) > -1 || rainInput === "";
            doesTimeMatch = timeValue.indexOf(timeInput) > -1 || timeInput === "";
            doesDateMatch = dateValue.indexOf(dateInput) > -1 || dateInput === "";

            if (doesTempMatch && doesHumidityMatch && doesPressureMatch && doesRainMatch && doesTimeMatch && doesDateMatch) {
                tr[i].style.display = "";
            } else {
                tr[i].style.display = "none";
            }
        }
        }
    }

    function cardFilters() {
        let i, ul, li, tempCard, humidityCard,pressureCard,rainCard, timeCard, dateCard,
            cardTempInput, cardHumidityInput,cardPressureInput,cardRainInput, cardTimeInput, cardDateInput,
            doesTempMatch, doesHumidityMatch,doesPressureMatch,doesRainMatch, doesTimeMatch, doesDateMatch;

        cardTempInput = document.getElementById("cardInputTemperature").value;
        cardHumidityInput = document.getElementById("cardInputHumidity").value;
        cardPressureInput = document.getElementById("cardInputPressure").value;
        cardRainInput = document.getElementById("cardInputRain").value;
        cardTimeInput = document.getElementById("cardInputTime").value;
        cardDateInput = document.getElementById("cardInputDate").value;

        ul = document.getElementById("cardUL");
        li = ul.getElementsByTagName("li");
        for (i = 0; i < li.length; i++) {
            const currentCard = li[i]
            tempCard = currentCard.querySelector(".cardTemp").textContent;
            humidityCard = currentCard.querySelector(".cardHumidity").textContent;
            pressureCard = currentCard.querySelector(".cardPressure").textContent;
            rainCard = currentCard.querySelector(".cardRain").textContent.toLowerCase().trim();
            timeCard = currentCard.querySelector(".cardTime").textContent;
            dateCard = currentCard.querySelector(".cardDate").textContent;

            if (tempCard && humidityCard && pressureCard && rainCard && timeCard && dateCard) {
                doesTempMatch = tempCard.indexOf(cardTempInput) > -1 || cardTempInput === "";
                doesHumidityMatch = humidityCard.indexOf(cardHumidityInput) > -1 || cardHumidityInput === "";
                doesPressureMatch = pressureCard.indexOf(cardPressureInput) > -1 || cardPressureInput === "";
                doesRainMatch = rainCard.toLowerCase().trim() === cardRainInput.toLowerCase().trim() || cardRainInput === "";
                doesTimeMatch = timeCard.indexOf(cardTimeInput) > -1 || cardTimeInput === "";
                doesDateMatch = dateCard.indexOf(cardDateInput) > -1 || cardDateInput === "";

                if (doesTempMatch && doesHumidityMatch && doesPressureMatch && doesRainMatch && doesTimeMatch && doesDateMatch) {
                    currentCard.style.display = "";
                } else {
                currentCard.style.display = "none";
                }
            }

        }

    }

function resetTableFilter() {
    document.getElementById("inputTemperature").value = "";
    document.getElementById("inputHumidity").value = "";
    document.getElementById("inputPressure").value = "";
    document.getElementById("inputRain").value = "";
    document.getElementById("inputTime").value = "";
    document.getElementById("inputDate").value = "";
    tableFilters()
}

function resetCardFilter() {
    document.getElementById("cardInputTemperature").value = "";
    document.getElementById("cardInputHumidity").value = "";
    document.getElementById("cardInputPressure").value = "";
    document.getElementById("cardInputRain").value = "";
    document.getElementById("cardInputTime").value = "";
    document.getElementById("cardInputDate").value = "";
    cardFilters()
}




//Resets filters on load because it didnt do it automatically.
    window.onload = resetTableFilter();
    window.onload = resetCardFilter();
</script>
